
{% if form.vars.errors is not empty %}
                    <div class="mb-3 text-center">
                        {{ form_errors(form) }}
                    </div>
{% endif %}


{{ form_start(formCisco) }}
    {{ form_widget(formCisco) }}
    
{{ form_end(formCisco) }}