<nav>
  <ul>
    <li><strong>Accueil</strong></li>
  </ul>
  <ul>
    <li><a href="#">Service</a></li>
    <li><a href="#">Contact</a></li>
    <li role="list" dir="rtl">
      <a href="#" aria-haspopup="listbox">Dropdown</a>
      <ul role="listbox">
        <li><a>Action</a></li>
        <li><a>Another action</a></li>
        <li><a>Something else here</a></li>
      </ul>
    </li>
    <li>
        <input type="checkbox" id="dark" name="switch" role="switch">
    </li>
  </ul>
</nav>